<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Website:</b>
  <a href= "<%= @event.website %>"><%= @event.website %>></a>

</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
